*{
    padding: 0;
    margin: 0;
    position: relative;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    overflow: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.center_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*LEFT PANEL STYLING*/
.main__left{
    flex: 0 0 500px;
    background-color: aliceblue;
    
    display: flex;
    flex-flow: column;

    box-shadow: -1px 0px 8px 1px grey;
    z-index: 999;
}

.codes_panel{
    flex: 1 0 400px;
    background-color: burlywood;
    
    display: flex;
    flex-flow: column;
    padding: 8px 0;
    font-size: 1rem;
}
.code_line{
    padding: 1px 8px;
    font-family: 'Courier New', Courier, monospace
}

.active_line{
    background-color: black;
    color: white
}

.buttons_panel{
    flex: 0 0 40px;
    background-color: grey;
    
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    
}
.control_button{
    font-size: 12px;
}
.control_button:hover{
    background-color: rgba(0,0,0,0.2);
}
.arrow{
    fill: #333333;
}


.details_panel{
    flex: 1 1 50%;
    display: flex;
    flex-flow: column;
}

.details__header{
    padding: 8px;
    flex: 0 0 45px;
}

.history-list{
    padding: 8px;
    overflow-y: auto;
    flex: 1 0 200px;
}

.history-list > li{
    position: relative;
    margin-bottom: 4px;
    padding: 4px;
    border-bottom: 1px solid lightgrey;
    transition: background-color,transform 0.1s linear;
    /* border-radius: 8px; */
}
.history-list > li:hover{
    background-color: lightgray;
    /* color: white; */
}

.animate-list-enter{
    animation: enter_animation 0.3s normal ease-out;
}

.animate-list-out{
    animation: enter_animation 0.3s forwards reverse ease-in;
}

@keyframes enter_animation{
    0%{
        left: -100%;
        opacity: 0.3;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        left: 0;
        position: relative;
    }
}

/* GRID STYLING */
.main__right{
    flex: 1 1;
    background-color: white;

    display: flex;
    flex-flow: column;
}

.queue_panel{
    flex: 0 0 75px;
    background-color: blanchedalmond;

    display: flex;
    justify-content: flex-start;
}
.queue_panel > span:first-child {
    width: 100px;
    background-color: rgba(0,0,0,0.2);
}

.grid_panel{
    flex: 1;
}

.gold{
    fill: yellow
}

.glowing{
    fill: yellow;
    animation: glow 1s infinite ease-in-out;
    z-index: 99;
    transform-origin: center center;
}

@keyframes empty-glow{
    0%{ fill: white; transform: scale(1) }
    50%{ fill: yellow; transform: scale(1.2) }
    100%{ fill: white; transform: scale(1) }
}

@keyframes open-glow{
    0%{ fill: white; }
    50%{ fill: yellow }
    100%{ fill: white }
}

@media screen and (max-width: 1367px){
    html{
        font-size: 0.7rem;
    }

    .main__left{
        flex: 0 0 350px;
    }
    .codes_panel{
        flex: 0 0 350px;
    }
}


